@tailwind base;
@tailwind components;
@tailwind utilities;

#map {
  height: 180px;
}

.swiper {
  width: 85%;
}

.equipe {
  width: 95%;

}




.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  padding: 8px 16px;
  border-radius: 100%;
  border: 2px solid black;
  color: red;
} */

/* .swiper-button-prev {
  background-image: url("/src/assets/arrow-left.svg");
} */

